@page "/"
@inject ILocalStorageService LocalStorage

<PageTitle>Kaj 70 år</PageTitle>

<div>
    @if (_mode == Mode.HouseLogin)
    {
        <LoginRiddle NotifyParent="OnTaskComplete" Title="Ange kod för att få tillgång till nästa uppdrag!" Code="event"></LoginRiddle>
    }
    else if (_mode == Mode.HouseRiddle)
    {
        <HouseRiddle NotifyParent="OnTaskComplete"></HouseRiddle>
    }
    else if (_mode == Mode.Wait)
    {
        <WaitPage Title="Du klarade det!" Message="Skicka svaret på till sms till Tobias och invänta vidare instruktioner." Image="kaj2.jpg"></WaitPage>
    }
</div>

@code {
    public enum Mode { HouseLogin, HouseRiddle, Wait }
    private Mode _mode = Mode.HouseLogin;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var mode = await LocalStorage.GetItemAsync<Mode?>("Mode");
            if (mode != null)
            {
                _mode = mode.Value;
                StateHasChanged();
            }
        }
    }

    private async Task OnTaskComplete()
    {
        _mode++;
        await LocalStorage.SetItemAsync("Mode", _mode);
        StateHasChanged();
    }
}