@page "/"
@inject ILocalStorageService LocalStorage

<PageTitle>Kaj 70 år</PageTitle>

<div>
    @if (_mode == Mode.HouseLogin)
    {
        <LoginRiddle NotifyParent="OnTaskComplete" Code="event"></LoginRiddle>
    }
    else if (_mode == Mode.HouseRiddle)
    {
        <HouseRiddle NotifyParent="OnTaskComplete"></HouseRiddle>
    }
    else if (_mode == Mode.NextLogin)
    {
        <LoginRiddle NotifyParent="OnTaskComplete" Code="test"></LoginRiddle>
    }
    else
    {
        <p>Done!</p>
    }
</div>

@code {
    public enum Mode { HouseLogin, HouseRiddle, NextLogin, NextRiddle }
    private Mode _mode = Mode.HouseLogin;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var mode = await LocalStorage.GetItemAsync<Mode?>("Mode");
            if (mode != null)
            {
                _mode = mode.Value;
                StateHasChanged();
            }
        }
    }

    private async Task OnTaskComplete()
    {
        _mode++;
        await LocalStorage.SetItemAsync("Mode", _mode);
        StateHasChanged();
    }
}