@page "/"
@inject ILocalStorageService _localstorage;

<PageTitle>Kaj 70 år</PageTitle>

<div>
    @if (_mode == Mode.LoginRiddle)
    {
        <LoginRiddle></LoginRiddle>
    }
    else if (_mode == Mode.HouseRiddle)
    {
        <HouseRiddle></HouseRiddle>
    }
    else
    {
        <p>Done!</p>
    }
</div>

@code {
    public enum Mode { LoginRiddle, HouseRiddle, NextRiddle }
    private Mode _mode = Mode.LoginRiddle;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //var mode = null;//await _localstorage.GetItemAsync<Mode?>("Mode");
            //if (mode != null)
            {
                _//mode = mode.Value;
            }

            StateHasChanged();
        }
    }
}