@using static Blazor_gh.Pages.Home
@inject ILocalStorageService LocalStorage

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Kaj 70 år</h2>
                            <p class="text-white-50 mb-5">@Title</p>

                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                <InputText type="password" id="typePasswordX" class="form-control form-control-lg bg-dark text-white" @bind-Value="_userInput"></InputText>
                                <label class="form-label" for="typePasswordX">Ange kod</label>
                            </div>

                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" @onclick="LogIn">Logga in</button>
                        </div>

                        <div>
                            <p class="mb-0">
                                @if (!string.IsNullOrEmpty(_errorMessage))
                                {
                                    <span style="color:red">@_errorMessage</span>
                                }
                                else
                                {
                                    <span>&nbsp</span>
                                }
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

    [Parameter]
    public EventCallback NotifyParent { get; set; }

    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required string Code { get; set; }

    private string? _errorMessage;
    private string _userInput = string.Empty;

    private async Task LogIn()
    {
        _errorMessage = null;

        string input = _userInput.TrimEnd();

        if (input.Length > 0)
        {
            if (input.ToLower() == Code.ToLower())
            {
                await NotifyParent.InvokeAsync();
            }
            else
            {
                _errorMessage = "Fel kod! Försök igen";
            }
        }
        else
        {
            _errorMessage = "Du har inte angett någon kod!";
        }
    }
}
