@using static Blazor_gh.Pages.Home
@inject ILocalStorageService LocalStorage

<section class="gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Kaj 70 år</h2>
                            <p class="text-white-50 mb-5">@Title</p>

                            <img src="@Image" class="img-fluid" alt="Responsive image">
                        </div>

                        <div>
                            <p class="mb-0">
                                <span>&nbsp</span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required string Image { get; set; }
}
